.top-row {
    padding: 1em 0;
}
.container {
    background-color: rgb(172, 172, 172);
    padding-left: 2em;
}
.mat-form-field{
    width: 100%;
}
/* .page-header {
    padding-left: 2em;
} */

.image-container{
    width: 200px;
    height: 200px;
    background-color: #f7f7f7;
    border: 2px solid #CCC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img{
    width: 200px;
}